body{
    padding-top:70px;
}
#teste,#teste2{
    display:none;
}


/*Escondendo o menu lateral. (para mobile)*/
.sidebar{
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
/*Estilos da navegação lateral*/
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;
}
.nav-header{
  padding:10px ;
  margin-bottom:5px;
  color:#666;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
/*Estilo do conteudo principal */
.main {
  padding:20px;
}
/*Media queries, só queremos o menu lateral em monitores com tamanho maior que 768px disponivel*/
@media (min-width:768px){
    /*Ajustando menu lateral*/
    .sidebar{
        position: fixed;
        display: block;
    }
    /*Ajustando conteudo principal*/
    .main{
        padding-right: 40px;
        padding-left: 40px;
    }
    
}
@media(max-width:767px){
    .sidebar{
        position: fixed;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
        left:-100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .sidebar.active{

        left:0;
    }
}