.busca{
    margin-top:25px;
    margin-bottom: 25px;
    float:right;
}
.panel{
    margin-top: 20px;
    margin-bottom: 25px;
}
.glyphicon-comment{
    margin-right: 5px;
}
body{
    padding-top: 25px;
    background-color: #eee;
}
.has-feedback .form-control-feedback {
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    right:9px;
    line-height: 34px;
    text-align: center;
}
.page-header{
    border-bottom: 1px solid #3771C8;
}

.table thead tr {
    font-weight: bold;
}
.imagem{
    margin-top: 25px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}